body {
    background-color: #f1f1f1;
  }
  
  .container {
    display: flex;
    justify-content: space-around;
    margin-top: 50px;
  }
  
  .form {
    width: 40%;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.3);
  }
  
  .form label {
    display: block;
    margin-bottom: 10px;
  }
  
  .form input[type="text"],
  .form input[type="email"],
  .form input[type="password"] {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
  }
  
  .form input[type="submit"],
  .form button[type="submit"] {
    background-color: #4caf50;
    color: #fff;
    border: none;
    padding: 10px 20
  }