.btn {
    background: tomato;
    border: none;
    border-radius: 5px;
    padding: 6px 16px;
    font-size: 1.3rem;
    cursor: pointer;
    transition: 0.3s all ease-out;
    display: flex;
    align-items: center;
    justify-content: center;
    color: whitesmoke;
  }
  
  .btn:hover {
    background: whitesmoke;
    color: tomato;
  }
  
  a {
    text-decoration: none;
  }
  
  .btn span {
    margin-left: 0.7rem;
  }
  
  @media screen and (max-width: 900px) {
    .btn span {
      display: none;
    }
  }



  /* the css for the dialog */

/* 
  .MuiDialog-paper {
    max-width: 500px;
    padding: 20px;
  }
  
  .MuiDialogTitle-root {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
  }
  
  .MuiDialogContent-root {
    margin-top: 20px;
  }
  
  .MuiDialogContentText-root {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 20px;
  }
  
  .MuiTextField-root {
    width: 100%;
    margin-bottom: 20px;
  }
  
  .MuiDialogActions-root {
    margin-top: 20px;
    justify-content: center;
  }
  
  .MuiButton-root {
    text-transform: none;
    font-weight: bold;
    padding: 10px 20px;
    margin: 0 10px;
  }
  
  .MuiButton-containedPrimary {
    background-color: #007bff;
    color: #fff;
  }
  
  .MuiButton-containedPrimary:hover {
    background-color: #0069d9;
  }
   */

   /* Style for the dialog box */
.MuiDialog-paper {
  background-color: #ffffff;
  border-radius: 8px;
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.15);
  padding: 20px;
  width: 400px;
  max-width: 80vw;
}

/* Style for the dialog title */
.MuiDialogTitle-root {
  text-align: center;
}

/* Style for the dialog content */
.MuiDialogContent-root {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Style for the dialog text fields */
.MuiTextField-root {
  margin-bottom: 20px;
}

/* Style for the cancel button */
.MuiButton-outlined:first-of-type {
  color: #ffffff;
  background-color: #00c853;
  border-color: #00c853;
  margin-right: 10px;
}

/* Style for the create account button */
.MuiButton-outlined:last-of-type {
  color: #ffffff;
  background-color: #ff5722;
  border-color: #ff5722;
}

